body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  padding: 15px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-part-header {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.adress-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 188px 331px 48px;
}

.hero-button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto 188px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
}

.advantages-item-text {
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
  padding-bottom: 120px;
}

.team-item {
  background-color: #ffffff;
}

.team-subtitle {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 8px;
  margin: 0 auto;
}

.team-item-text {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
}

.portfolio {
}

.portfolio-title {
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
  padding-top: 124px;
  padding-bottom: 68px;
}

.portfolio-list {
  padding-bottom: 120px;
}

.portfolio-item {
}

.portfolio-subtitle {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 8px;
}

.portfolio-item-text {
  margin: 0 auto;
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
}

.logo-part-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
